beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
idna==2.8
inflection==0.3.1
kiwisolver==1.0.1
lxml==4.3.0
matplotlib==3.0.2
more-itertools==5.0.0
numpy==1.16.0
pandas==0.24.0
pandas-datareader==0.7.0
patsy==0.5.1
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
Quandl==3.4.5
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
sklearn==0.0
soupsieve==1.7.3
statsmodels==0.9.0
urllib3==1.24.1
wrapt==1.11.1
