alembic==1.0.7
bcolz==0.12.1
beautifulsoup4==4.7.1
Bottleneck==1.2.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
contextlib2==0.5.5
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.29.4
decorator==4.3.2
empyrical==0.5.0
idna==2.8
inflection==0.3.1
intervaltree==3.0.2
kiwisolver==1.0.1
Logbook==1.4.3
lru-dict==1.1.6
lxml==4.3.0
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==3.0.2
more-itertools==5.0.0
multipledispatch==0.6.0
networkx==1.11
numexpr==2.6.9
numpy==1.16.0
pandas==0.22.0
pandas-datareader==0.7.0
patsy==0.5.1
pyparsing==2.3.1
python-dateutil==2.7.5
python-editor==1.0.4
pytz==2018.9
Quandl==3.4.5
requests==2.21.0
requests-file==1.4.3
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
sklearn==0.0
sortedcontainers==2.1.0
soupsieve==1.7.3
SQLAlchemy==1.2.17
statsmodels==0.9.0
tables==3.4.4
toolz==0.9.0
trading-calendars==1.7.0
urllib3==1.24.1
wrapt==1.11.1
zipline==1.3.0
